/* Marca de agua */
.agua:before {
    position: fixed;
    content: '';
    bottom: 2vh;
    right: 5vh;
    width: 14.625vh;
    height: 14.2vh;
    opacity: 0.2;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/16/10/20/target-2070972_960_720.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* banner portada de artículo */
header.portada {
    background-image: url("https://cdn.pixabay.com/photo/2020/02/09/13/08/banner-4833105_960_720.jpg");
    width: 100%;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header.portada {
    position: relative;
}

header.portada h2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

/* Imagenes validadores */

/* Reglas comunes a los tres */
figure.w3c.css {
    background-image: url(../svg/w3c/css.svg);
}

figure.w3c.html5 {
    background-image: url(../svg/w3c/html5.svg);
}

figure.w3c.wcag {
    background-image: url(../svg/w3c/wcag.svg);
}

/* Reglas específicas para cada uno */
figure.w3c {
    width: 88px;
    height: 31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* article.posicion {
    position: relative;
} */

figure.caja {
    width: 500px;
    height: 300px;
    background: yellow;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Skyline_and_Victoria_Harbour_at_dusk%2C_view_from_Victoria_Peak%2C_Hong_Kong%2C_China_-_%E9%A6%99%E6%B8%AF%EF%BC%8C%E4%B8%AD%E5%9B%BD_%2816215094838%29.jpg/1280px-Skyline_and_Victoria_Harbour_at_dusk%2C_view_from_Victoria_Peak%2C_Hong_Kong%2C_China_-_%E9%A6%99%E6%B8%AF%EF%BC%8C%E4%B8%AD%E5%9B%BD_%2816215094838%29.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

article h2.blanco {
    color: white;
}

/* Maquetación */
body main section {
    padding: 5vw;
}

/* Estilos para textos */
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Tamaño de los textos */
* {
    font-size: 16px;
}


h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

/*Familias y color de fuentes */
p,
a,
li,
strong,
em,
span,
figcaption,
q,
blockquote {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    /* Color genérico */
    color: #666666;
}

/* Interlineado */
p {
    line-height: 1.2;
}

/* Colores específicos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize;
    color: #557714;
}

h2,
strong {
    color: #AA3C39;
}

a {
    font-weight: bold;
}

figcaption {
    font-size: small;
    font-style: italic;
}



body main section {
    padding: 1em;
}

/* Estilos para los párrafos nota */
p.nota {
    padding: 1em;
    background-color: aliceblue;
    border-left: 0.25em solid darkblue;
    border-radius: 5px;
}

/* -----------------------*/
/* Estilos para el footer */
/* -----------------------*/

/* fondo color negro */
body > footer {
    background-color: black;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Quitar estilos de lista */
body > footer li {
    list-style: none;
}

body > footer li.validator,
body > footer li.legal {
    display: inline-block;
    font-size: small;
}

/*Reducir tamaño de los validadores */
figure.w3c {
    width: 5vw;
    height: 1.76vw;
    margin: 0.5em;
}

/* Poner el mismo margen que los figures validadores */
li.legal {
    margin: 0.5em;
}

li.legal,
li.legal a {
    height: 4em;
    line-height: 4em;
}

/* Textos en color blanco */
body > footer h2,
body > footer li a,
body > footer li a span {
    color: white;
}

/* No mostrr el h2 del footer del sitio */
footer section.footer__pie h2 {
    display: none;
}

section.contentinfo a.pattern figure {
    width: 20vw;
    height: 13.32vw;
    background-image: url(../svg/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.contentinfo a.pattern {
    width: 40%;
}

div[role="group"] {
    width: 40%;
}

.pechado {
    color: white;
}

.justify {
    color: white;
}

article.imagen {
    width: 500px;
    height: 300px;
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

article.imagen {
    position: relative;
}

article.imagen:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Skyline_and_Victoria_Harbour_at_dusk%2C_view_from_Victoria_Peak%2C_Hong_Kong%2C_China_-_%E9%A6%99%E6%B8%AF%EF%BC%8C%E4%B8%AD%E5%9B%BD_%2816215094838%29.jpg/1280px-Skyline_and_Victoria_Harbour_at_dusk%2C_view_from_Victoria_Peak%2C_Hong_Kong%2C_China_-_%E9%A6%99%E6%B8%AF%EF%BC%8C%E4%B8%AD%E5%9B%BD_%2816215094838%29.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
}

article.imagen h2,
article.imagen p {
    text-align: center;
    color: white;
}
